* {
  margin: 0;
}

body {
  background-image: url(images/background.png);
  background-size: cover;
}

main {
  background-color: rgba(255, 255, 255, 0.473);
  backdrop-filter: blur(10px) brightness(1.3);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  height: 100vh;
  margin: 100px auto;
}

@media (min-width: 550px) {