* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-size: 18px; */
}

html {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "GRAD" 0;
}

body {
  background-image: url(images/haahah.jpg);
  background-size: cover;
  background-attachment: fixed;
}

nav {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  height: 50px;
  width: 100vw;

  padding-left: 5px;
  display: flex;

  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
}

nav a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  font-size: 25px;
  padding: 10px;

  transition: all 0.3s;
}

nav a:hover {
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
}

header {
  font-size: 20px;
  text-align: center;
  margin: 80px 0 30px;
  color: white;
  text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

main {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;

  padding: 20px;
}

p {
  font-size: 18px;
}

footer {
  text-align: center;
  font-size: 15px;
}

footer p {
  padding: 10px;
}

section {
  display: flex;
  margin-top: 10px;
}

section .images {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

section .images img {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  outline: solid 1px rgba(255, 255, 255, 0.15);
  outline-offset: -1px;

  width: 250px;
  margin: 2px;

  aspect-ratio: 4 / 3;
  object-fit: cover;
  object-position: center;
}

.map {
  width: 500px !important;
  grid-column: 1 / -1;
}

hr {
  margin-top: 10px;
}

dl {
  padding-bottom: 5px;
}

dt {
  font-weight: bold;
  font-size: 25px;
  padding: 10px 10px 10px 0;
  position: relative;
}

dd {
  padding-left: 10px;
  padding-bottom: 10px;
}

@media (min-width: 880px) {
  main {
    padding: 40px;
  }
}

@media (max-width: 880px) {
  section .images {
    grid-template-columns: 1fr;
  }
  .map {
    width: 100% !important;
  }
}
@media (max-width: 800px) {
  main {
    max-width: 100%;
  }
}
@media (max-width: 580px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  section .images {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 550px) {
  section {
    flex-direction: column;
    align-items: center;
  }
  section .images {
    grid-template-columns: 1fr;
  }
  section .images img {
    width: 100%;
  }
}
@media (max-width: 450px) {
  dt {
    font-size: 20px;
  }
}
