* {
  margin: 0;
}

body {
  /* background-image: url(images/background.png); */
  background-color: rgb(231, 231, 231);
  background-size: cover;
}

nav {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

  height: 50px;
  width: 100vw;
}

header {
  font-size: 20px;
  text-align: center;
  margin: 30px 0;
}

main {
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  max-width: 80%;
  height: 100vh;
  margin: 0 auto;
}

@media (max-width: 550px) {
  main {
    max-width: 100%;
  }
}
