nav {
    text-align: center;
    padding: 8px 0;
    font-family: Arial, sans-serif;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin: 16px;
}
nav a {
    text-decoration: none;
    font-size: 20.8px;
    padding: 8px;
    transition: color 1.0s;
}
.button {
    border-radius: 50px/75%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #ffffff;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: progress;
}