nav {
    text-align: center;
    padding: 8px 0;
    font-family: Arial, sans-serif;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav li {
    display: inline;
    margin: 16px;
}
nav a {
    text-decoration: none;
    font-size: 20.8px;
    padding: 8px;
    transition: color 1.0s;
}
.button {
    border-radius: 85px/100%;
    background-color: lightsteelblue;
    border: solid #0000ff 4px;
    color: #1858aa;
    padding: 12px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: progress;
}