* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: content-box;
}

pre {
    text-wrap: wrap;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
    padding: 0 10px 10px;
}

html {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

body {
    font-size: 115%;
}

nav a {
    color: auto;
}

nav {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    height: 50px;
    width: 100vw;

    padding-left: 5px;
    display: flex;
    flex-direction: row;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}

header {
    text-align: center;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

main {
    min-height: 100vh;
    min-width: stretch;
    margin: 0 auto;
    padding: 20px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.5);
    grid-area: m;
}

aside {
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
    grid-area: s;
}

.container > * {
    margin: 5px 0;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
}

.container {
    margin: 0 10% 10%;
    display: grid;
    grid-template-areas: 
        "m m m m s";
}

a:active {
    color: transparent;
}

@media (min-width: 881px) {
    main {
        padding: 40px;
    }
}

@media (max-width: 881px) {
    section .images {
        grid-template-columns: 1fr;
    }
    .map {
        width: 100% !important;
    }

}

@media (max-width: 801px) {
    main {
        max-width: 100%;
    }
}

@media (max-width: 581px) {
    section {
        flex-direction: column;
        align-items: center;
    }
    section .images {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 551px) {
    section {
        flex-direction: column;
        align-items: center;
    }
    section .images img {
        width: 100%;
    }
    .container {
        margin: auto 0 auto;
    }
    .container > * {
        margin: auto 2% 4%;
    }
}

@media (max-width: 451px) {
    dt {
        font-size: 20px;
    }
}

dl {
    padding-bottom: 5px;
}

dt {
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
    position: relative;
}

dd {
    padding-left: 100px;
}