* {
    margin: 0;
    border: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-size: 3.315%;
    background-image: url(/images/new-plaid-bg.png);
    background-repeat: repeat;
}
pre {
    font-size: 18px;
    text-wrap: wrap;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

html {
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "GRAD" 0;
}

nav a {
    color: auto;
}

nav {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

    height: 50px;
    width: 100vw;

    padding-left: 5px;
    display: flex;
    flex-direction: row;

    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  padding: 10px;
}

header {
    border-radius: 4%/15px;
    background-image: url(/images/site-background.png);
    background-size: cover;
    background-position: center;
    font-size: 26px;
    text-align: center;
    margin: 80px 30vw 15px;
    padding: 70px 0;
    color: white;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

main {
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    grid-area: m;
}
h2 {
    font-size: 28px;
    text-align: center;
}
aside {
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    grid-area: rs;
}

.container > * {
    margin: 5px;
    backdrop-filter: blur(3px);
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.container {
    margin: 0 17vw 10vh;
    display: grid;
    grid-template-areas:
        "m m m m rs"
        "m m m m rs";
}

a:active {
    color: transparent;
}
@media (max-width: 550px) {
    main {
        max-width: 100%;
    }
}

dl {
    padding-bottom: 5px;
}

dt {
    font-weight: bold;
    padding: 10px;
    padding-left: 25px;
    position: relative;
}

dd {
    padding-left: 100px;
}