.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(min(250px, 100%), 1fr));
  gap: 10px;

  padding: 20px 0;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  outline: 1px solid rgba(255, 255, 255, 0.15);
  outline-offset: -1px;

  padding: 10px;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card img {
  margin: -10px -10px 5px;
  border-radius: 10px 10px 0 0;

  aspect-ratio: 4 / 2;
  object-fit: cover;
  object-position: center;
}

dt {
  font-weight: normal;
  font-size: 20px;
  padding: 10px;
  padding-left: 25px;
}

dt::before {
  content: "•";
  position: absolute;
  left: 5px;
}
